:root {
  --min-width: 343px;
  --max-width: 840px;
  --border-radius-mb: 24px 24px 100px 24px;
  --border-radius-dk: 24px 24px 200px 24px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --light-grey: #f0f0f0;
  --white: #ffffff;
  --grey: #716f6f;
  --line: #dcdcdc;
  --black: #151515;
  --purple: #854dff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--light-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

label {
  color: var(--grey);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-style: normal;
}
